<!DOCTYPE html>
<html lang="en">
<title>NA CLUB PROJECT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="http://127.0.0.1:8000/kmountain/home/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="http://127.0.0.1:8000/kmountain/ms/" class="w3-bar-item w3-button w3-padding-large w3-white">100</a>
    <a href="http://127.0.0.1:8000/kmountain/mountainlist/" class="w3-bar-item w3-button w3-padding-large w3-white">Detail</a>
    <a href="http://127.0.0.1:8000/kmountain/housing/" class="w3-bar-item w3-button w3-padding-large w3-white">Housing</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Jobs</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="http://127.0.0.1:8000/kmountain/home/" class="w3-bar-item w3-button w3-padding-large">Home</a>
    <a href="http://127.0.0.1:8000/kmountain/ms/" class="w3-bar-item w3-button w3-padding-large">100</a>
    <a href="http://127.0.0.1:8000/kmountain/mountainlist/" class="w3-bar-item w3-button w3-padding-large">Detail</a>
    <a href="http://127.0.0.1:8000/kmountain/housing/" class="w3-bar-item w3-button w3-padding-large">Housing</a>
  </div>
</div>

<!-- Header -->

<header class="w3-container w3-black w3-center" style="padding:26px 16px">
  <!--<h1 class="w3-margin w3-jumbo">100대 명산 지도 프로젝트</h1> -->
  <p class="w3-xlarge"><h1><br>KOREA's 100 MOUNTAINS MAP</h1></p>
    <!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->
</header>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<div class="row">
    <div class="col-sm-8">
        <div class="map">
            <div class="container-fluid">
                {{mountain_map|safe}}
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="container-fluid">
            <div class="container my-3">
                <table class="table table-striped">
                    
                    <thead>
                        <tr class="thead-dark">
                            <th>Num</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Height</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ row.M_name }}</a></td>
                            <td>{{ row.M_address }}</a></td>
                            <td>{{ row.M_height }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        
                </table>
            </div>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.number }} of
                            {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </div>
</div>
   

    

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <!-- <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>  -->
    </div>

    <div class="w3-twothird">
      <h1>This Projected is made by NA Club</h1>
      <h5 class="w3-padding-32">Special Thanks To Kim Jin Bae</h5>

      <p class="w3-text-grey">Goddamn Project</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">LOVE YOURSELF</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>