<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    </head>
    <body>
       
    <table class = "table table-striped">
        <tr><td align="center"><H2> <a href="https://www.k-startup.go.kr/common/announcement/announcementList.do?mid=30004&bid=701&searchAppAt=A" target="_blank" style="color:black">K-STARTUP 창업모집 페이지 </a></H2></td></tr>
    </table>
    <table class = "table table-striped">
        <tr> <th align="left">분야</th>  <th align="left">마감시한</th> <th align="left">공지명</th> <th align="left">프로그램</th><th align="left">기관명</th><th align="left">접수 마감일</th></tr>
        {% for row in page_buse.0 %}
        <!-- 
        <tr> <td>{{row.title}}</td> 
        <td><a href="{{row.link}}"/>{{row.link}} </td> </tr>
        -->
        <tr>
            <td>{{row.category}}</td>
            <td>{{row.Term}}</td>
            <td>{{row.post_title}}</td>
            <td>{{row.sorting}}</td>
            <td>{{row.organization}}</td>
            <td>{{row.due_enddate}}</td>
            {% endfor %}
        </tr>
    </table>
    <ul class="pagination">
                    {% if page_buse.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_buse.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">Page {{ page_buse.number }} of
                            {{ page_buse.paginator.num_pages }}</a></li>
                    {% if page_buse.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_buse.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_buse.paginator.num_pages }}">last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
   </body>
</html>


<!--
Category" : "행사·네트워크", "Term" : "마감5일전", 
"Title" : "2020 대구·경북 스타트업 페스티벌 「비대면 분야 창업아이디어 경진대회」 참가자 모집", 
"sorting" : "대구·경북 스타트업 페스티벌 「비대면 분야 창업아이디어 경진대회」", 
"Company" : "경북창조경제혁신센터", "Due" : "2020-10-19" }
-->